:root {
  --main-bg-color: #1e288f;
  --second-bg-color: #b1e3ff;
  --main-text-color: #fff;
  --second-text-color: #000;
  --dark-mode-bg: #333;
  --dark-mode-text: #fff;
}

.header,
.main,
.footer {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: start;
  /* width: 300px; */
  gap: 10px;
  padding: 20px;
}
.header {
  width: 100%;
}
.main {
  width: 100%;
}
.footer {
  width: 100%;
}

.footer p span {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.project-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  width: auto;
  gap: 5vh;
  padding-top: 10vh;
  padding-bottom: 10vh;
  position: relative;
}
.card-project {
  width: 40vw;
  height: auto;
  display: flex;
  overflow: hidden;
  border-radius: 25px;
  transition: 0.5s ease;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background: linear-gradient(
    0deg,
    rgba(177, 227, 255, 1) 10%,
    rgba(137, 212, 255, 1) 100%
  );
  /* gap: 10px; */
  /* background: #000; */
  /* padding: 30px;
  padding-top: 10vh;
  gap: 10px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center; */
}

.card-github {
  flex: 0 0 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1vh;
  color: var(--second-text-color);
  border: 1px;
  transition: transform 0.8s;
  -webkit-transition: transform 0.8s;
  -moz-transition: transform 0.8s;
  -o-transition: transform 0.8s;
  -ms-transition: transform 0.8s;
}

.project-title {
  flex-wrap: wrap;
  padding-top: 1px;
  padding: 1px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.card-project:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3);
}
.app.dark-mode .card-github {
  color: var(--dark-mode-text);
  background: none;
  background-color: var(--dark-mode-bg);
}
.app.dark-mode .card-project {
  background: none;
}

.app.dark-mode .card-github:hover {
  background-color: var(--dark-mode-bg);
  color: white;
}
@media screen and (max-width: 640px) {
  .header,
  .main,
  .footer {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: start;
    padding: 10px;
  }
  .project-container {
    padding-bottom: 20vh;
  }
  .card-project {
    /* flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    */
    width: 80vw;
    height: 30vh;
    padding: 10px;
  }
  .project-title {
    padding-top: 10vh;
  }
  .card-github {
    border-radius: 25px;
    width: calc(20vw);
  }
}
@media screen and (max-width: 360px) {
  .project-container {
    padding-bottom: 20vh;
    padding-top: 10vh;
  }
}

@media screen and (max-width: 1080px) {
  .card-project {
    width: 80vw;
  }
}

@media (max-width: 800px) and (orientation: landscape) {
  .project-container {
    padding-top: 100vh;
  }
}
