* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --main-bg-color: #b1e3ff;
  --second-bg-color: #b1e3ff;
  --main-text-color: #fff;
  --dark-mode-bg: #333;
  --dark-mode-text: #fff;
}
.dark-mode {
  background-color: var(--dark-mode-bg);
  color: var(--dark-mode-text);
}
/* navbar.tsx css*/
body {
  font-family: "Roboto Mono", monospace;
  font-size: 16px;
  color: black;
  scrollbar-width: thin;
  scrollbar-color: #cccccc #f0f0f0;
}
body::-webkit-scrollbar {
  width: 8px;
}
body::-webkit-scrollbar-thumb {
  background-color: #cccccc;
}
body::-webkit-scrollbar-track {
  background-color: #f0f0f0;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid var(--dark-mode-bg);
  margin: 1em 0;
  padding: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background: rgba(var(--dark-mode-bg), 0.4); */
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  overflow: hidden;
  padding: 1vh;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 8px;
  position: fixed;
  width: 100%;
  top: 0;
}

.logo {
  padding-left: 30px;
  font-size: 20px;
}

.nav-links {
  display: flex;
}

.nav-items {
  padding: 10px;
  font-size: 18px;
}
/* Main.tsx css */
@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.textColorChangeAnimation span {
  background: linear-gradient(45deg, #438eff, #1a4c91, #438eff);
  background-size: 200% 200%;
  -webkit-background-clip: text;
  color: transparent;
  background-clip: text;
  animation: gradientAnimation 5s infinite;
  font-size: xx-large;
}
.container-navbar {
  padding-top: 100px;
}
.container {
  color: var(--second-text-color);
  height: 100vh;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  padding: 20px;
  gap: 15px;
}

.wrapper {
  background: linear-gradient(
    0deg,
    rgba(177, 227, 255, 1) 10%,
    rgba(137, 212, 255, 1) 100%
  );
  backdrop-filter: blur(px);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;
  overflow: hidden;
}
.app.dark-mode .wrapper {
  color: var(--main-text-color);
  background: none;
  background-color: var(--dark-mode-bg);
}
.wrapper:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4);
}

.card {
  width: 600px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.circle {
  width: 200px; /* Set the width of the circle */
  height: 200px; /* Set the height of the circle */
  border-radius: 50%; /* Make it a circle */
  overflow: hidden; /* Hide overflowing content */
  border: 1px solid black;
}
.circle img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  object-position: top center;
}

/* Skill.tsx css */
.container-skill {
  border: none;
  justify-content: center;
  align-items: center;
}

.wrapper-skill h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
}

.card-skill {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0px;
}

/* contact.tsx css */
.wrapper-contact h2,
.wrapper-contact h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
}

.container-contact {
  border: none;
  height: 60vh;
}

.card-contact {
  flex-direction: row;
  align-items: baseline;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  /* justify-content: baseline; */
  /* border: 1px solid black; */
  padding: 15px;
}

@media screen and (max-width: 640px) {
  .card {
    width: 362px;
    height: auto;
  }
  .card-contact {
    padding: 30px;
    font-size: 13px;
    flex-direction: row;
    align-items: baseline;
    /* justify-content: baseline; */
  }

  .navbar {
    justify-content: space-between;
  }
}
