:root {
  --main-bg-color: #1e288f;
  --second-bg-color: #b1e3ff;
  --main-text-color: #fff;
  --second-text-color: #000;
  --dark-mode-bg: #333;
  --dark-mode-text: #fff;
}

.header,
.main,
.footer {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: start;
  width: 300px;
  gap: 10px;
  padding: 20px;
}

.footer p span {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.project-container {
  height: auto;
  width: auto;
  padding-top: 10vh;
}
.project-title {
  padding-top: 1px;
  flex-wrap: wrap;
  padding: 1px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.wrapper-project {
  background-color: var(--second-bg-color);
  backdrop-filter: blur(px);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;
  overflow: hidden;
}

.card-project {
  flex-wrap: wrap;
  padding: 30px;
  padding-bottom: 20vh;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  gap: 10px;
}

.card-github {
  border-radius: 25px;
  padding: 30px;
  color: var(--second-text-color);
  background: linear-gradient(
    0deg,
    rgba(177, 227, 255, 1) 10%,
    rgba(137, 212, 255, 1) 100%
  );
  backdrop-filter: blur(px);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s ease-out;
}
.card-github:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4);
  border: 1px solid var(--second-bg-color);
}
.app.dark-mode .card-github {
  color: var(--dark-mode-text);
  background: none;
  background-color: var(--dark-mode-bg);
}

.app.dark-mode .card-github:hover {
  background-color: var(--dark-mode-bg);
  color: white;
  border: 1px solid white;
}
@media screen and (max-width: 640px) {
  .main,
  .header,
  .footer {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: start;
    padding: 10px;
  }
  .project-container {
    padding-bottom: 10vh;
  }
  .card-project {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 10px;
  }
  .project-title {
    padding-top: 10vh;
  }
  .card-github {
    border-radius: 25px;
    width: calc(90vw);

    padding: 0px;
  }
}
@media screen and (max-width: 360px) {
  .project-container {
    padding-bottom: 20vh;
    padding-top: 10vh;
  }
}
@media (max-width: 800px) and (orientation: landscape) {
  .project-container {
    padding-top: 100vh;
  }
}
